:root {
    --container-width: 1592px;
    --container-padding: 20px;

    --vh: 1vh;
    --section-rect-pad-top: calc(5rem + 2.5rem);
    --section-rect-pad-bottom: calc(5rem + 2.5rem);
    --section-mb: 160px;
    --section-pt: 160px;
    --scrl-mt: 150px;

    --ff-base: 'Gotham', sans-serif;

    --accent-color: #f7d252;
    --text-color: #242c33;
    --dark-grey: #242c33;
    --grey: #3b4767;
    --light-grey: #64666b;
    --bg-color: #f9f7f0;
    --white: #fff;
}

@media (max-width: 991px) {
    :root {
        --section-mb: 100px;
    }
}

@media (max-width: 767px) {
    :root {
        --container-padding: 16px;
        --section-mb: 80px;
    }
}
