@use '../../base/media' as *;
@use '../../base/mixins' as *;

.cta {
    text-transform: uppercase;
    border-radius: 8px;
    transition: ease-out 0.4s;
    position: relative;
    background: var(--accent-color);

    &--lg {
        &::before {
            height: 80px;
            width: 388px;
            border-radius: 16px;
        }
    }

    &--sm {
        &::before {
            border-radius: 11px;
            height: 56px;
            width: 150px;
        }
    }

    &::before {
        content: '';
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: 0.4s ease-out;
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        border: 1px solid var(--accent-color);
        box-shadow: 0px 12px 20px 0px #cfad3699;
        background: var(--white);
    }

    @include hover {
        &::before {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
