@use '../base/media' as *;
@use '../base/mixins' as *;

.header {
    position: fixed;
    top: 12px;
    width: 100%;
    z-index: 10;
    padding-inline: 20px;

    @include media('mobile') {
        padding-inline: 16px;
        top: 8px;
    }

    &.is-search {
        .header__inner {
            opacity: 0;
            visibility: hidden;
        }

        .header-search {
            opacity: 1;
            pointer-events: all;
        }

        .header-search__btn {
            right: 63px;

            @include media('mobile') {
                right: 35px;
            }
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        @include transitions(0.3s, ease-out);
    }

    &__wrapper {
        padding: 17px 15px 17px 23px;
        border-radius: 16px;
        max-width: 1552px;
        width: 100%;
        margin: 0 auto;
        backdrop-filter: blur(28px);
        position: relative;
        background: #ffffffb2;
        border: 1px solid #ded8d8;

        @media (max-width: 1470px) {
            padding: 17px 15px;
        }

        @include media('mobile') {
            padding: 7px 15px;
        }

        .header-search {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            inset: 0;
            z-index: 5;
            border-radius: 16px;
            overflow: hidden;
            @include transitions(0.3s, ease-out);

            &__field {
                font: 400 20px / 140% var(--ff-base);
                letter-spacing: -1px;
                padding: 27px 200px 27px 28px;
                border: none;
                outline: none;
                width: 100%;
                height: 100%;
                &[type='search']::-webkit-search-decoration,
                &[type='search']::-webkit-search-cancel-button,
                &[type='search']::-webkit-search-results-button,
                &[type='search']::-webkit-search-results-decoration {
                    display: none;
                }

                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
                    box-shadow: 0 0 0px 1000px #fff inset !important;
                    -webkit-text-fill-color: #000 !important;
                    transition: background-color 9999s ease-in-out 0s;
                }

                @include media('mobile') {
                    padding: 10px 140px 10px 12px;
                    font-size: 16px;
                }
            }

            &__btn {
                position: absolute;
                right: 45px;
                top: 50%;
                transform: translateY(-50%);
                @include transitions(0.5s, ease-out);
            }

            &__cancel {
                @include media('mobile') {
                    width: 24px;
                    height: 24px;
                    right: 16px;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &__cta {
                font: 500 14px / 100% var(--ff-base);
                text-transform: uppercase;
                padding: 17px 20px;

                &::before {
                    width: 110px;

                    @include media('mobile') {
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                    }
                }

                @include media('mobile') {
                    padding: 7px 15px;
                    border-radius: 4px;
                }
            }

            &__cancel {
                position: absolute;
                right: 5px;
                top: 50%;
                cursor: pointer;
                transform: translateY(-50%);
            }
        }
    }

    &__services {
        display: flex;
        align-items: center;
        gap: 12px;

        @media (max-width: 1470px) {
            gap: 5px;
        }

        @include media('desktop') {
            display: none;
        }

        span {
            font: 500 14px / 100% var(--ff-base);
            text-transform: uppercase;
        }

        svg {
            display: inline-flex;
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            color: var(--dark-grey);
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 53px;

        @media (max-width: 1470px) {
            gap: 10px;
        }

        @include media('mobile') {
            gap: 16px;
        }
    }

    &__burger {
        width: 24px;
        height: 24px;
        position: relative;
        display: none;

        @include media('desktop') {
            display: block;
        }

        &.is-transform {
            &::before {
                transform: rotate(45deg);
                top: 11px;
            }

            &::after {
                width: 18px;
                transform: rotate(-45deg);
                bottom: 11px;
            }
        }

        &::before {
            content: '';
            width: 18px;
            height: 1.5px;
            border-radius: 2px;
            position: absolute;
            left: 3px;
            top: 9px;
            background-color: var(--dark-grey);
            @include transitions(0.5s, ease-out);
        }

        &::after {
            content: '';
            width: 14px;
            height: 1.5px;
            border-radius: 2px;
            position: absolute;
            right: 3px;
            bottom: 9px;
            background-color: var(--dark-grey);
            @include transitions(0.5s, ease-out);
        }
    }

    &__logo {
        max-width: 208px;
        width: 100%;
        display: inline-flex;
        flex-shrink: 0;

        img {
            width: 100%;
            height: auto;
        }

        @include media('mobile') {
            max-width: 123px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 60px;

        @media (max-width: 1470px) {
            gap: 10px;
        }

        @include media('desktop') {
            display: none;
        }

        &-link {
            font: 500 14px / 100% var(--ff-base);
            text-transform: uppercase;

            &.current-page {
                color: var(--accent-color);
            }
        }
    }

    &__panel {
        display: flex;
        align-items: center;
        gap: 40px;

        @media (max-width: 1470px) {
            gap: 20px;
        }

        @include media('mobile') {
            gap: 24px;
        }
    }

    &__search {
        display: inline-flex;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        color: var(--dark-grey);
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
            font: 500 18px / 100% var(--ff-base);
            text-transform: uppercase;

            @include media('desktop') {
                display: none;
            }
        }

        svg {
            display: inline-flex;
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            color: var(--dark-grey);
        }
    }

    &__make {
        font: 500 14px / 100% var(--ff-base);
        padding: 17px 20px;

        @include media('desktop') {
            display: none;
        }

        &.cta {
            &::before {
                border-radius: 11px;
                height: 56px;
                width: 150px;
            }
        }
    }
}
