@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--service {
    .intro {
        padding-top: 128px;
        margin-bottom: 60px;

        @include media('mobile') {
            padding-top: 80px;
            margin-bottom: 24px;
        }

        &__box {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            gap: 20px;
            padding: 40px;
            border-radius: 24px;
            background: var(--white);

            @include media('tablet') {
                flex-direction: column;
                padding: 16px;
            }
        }

        &__ico {
            padding: 3px;
            border-radius: 16px;
            background: #f9f7f0;

            @include media('mobile') {
                border-radius: 6px;
            }

            lottie-player {
                width: 74px;
                height: 74px;

                @include media('mobile') {
                    width: 44px;
                    height: 44px;
                }
            }
        }

        &__info {
            max-width: 867px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            z-index: 2;

            @include media('desktop') {
                max-width: 50%;
                width: 100%;
            }

            @include media('tablet') {
                max-width: 100%;
            }
        }

        &__head {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            padding-bottom: 40px;
            border-bottom: 1px solid #ebecee;

            @include media('desktop') {
                flex-direction: column;
            }

            @include media('mobile') {
                gap: 12px;
                padding-bottom: 24px;
            }
        }

        &__text {
            font: 400 20px / 140% var(--ff-base);
            letter-spacing: -1px;
            margin-bottom: 49px;

            @include media('mobile') {
                margin-bottom: 24px;
                font-size: 18px;
            }
        }

        &__button {
            font: 500 18px / 100% var(--ff-base);
            text-transform: uppercase;
            padding: 23px 24px;

            @include media('mobile') {
                font-size: 14px;
                padding: 24px 5px;
                width: 100%;
                justify-content: center;
                text-align: center;

                &::before {
                    height: 73px;
                    width: 101%;
                    border-radius: 11px;
                }
            }
        }

        &__pic {
            max-width: 533px;
            height: 533px;
            border-radius: 24px;
            overflow: hidden;

            @include media('tablet') {
                max-width: 100%;
                height: 350px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
