@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--service {
    .specialist {
        padding-block: 80px;
        overflow: hidden;

        @include media('mobile') {
            padding-block: 80px 0;
        }

        &__title {
            margin-bottom: 60px;
            @include media('mobile') {
                margin-bottom: 24px;
            }
        }
    }
}
