@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .hero {
        margin-bottom: var(--section-mb);
        display: flex;
        align-items: flex-end;
        padding-top: var(--section-pt);
        padding-bottom: 102px;
        min-height: 100vh;
        min-height: 100dvh;
        position: relative;
        overflow: hidden;

        @include media('mobile') {
            padding-block: 80px 80px;
            display: grid;
            margin-bottom: 0;
        }

        .container {
            position: relative;
            z-index: 5;
            @include media('mobile') {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            z-index: 3;
            inset: 0;
            width: 130%;
            height: 100%;

            @include media('mobile') {
                width: 100%;
            }
        }

        &::after {
            background: linear-gradient(
                180deg,
                rgba(249, 247, 240, 0) 55.12%,
                #f9f7f0 100%
            );
        }

        &::before {
            background: linear-gradient(
                270deg,
                rgba(238, 240, 244, 0) 0%,
                rgba(238, 240, 244, 0.11) 48.47%,
                #eef0f4 59.8%,
                #eef0f4 100%
            );

            @include media('mobile') {
                background: linear-gradient(
                    270deg,
                    rgba(238, 240, 244, 0) 0%,
                    rgba(238, 240, 244, 0.11) 48.47%,
                    #eef0f4 82.38%,
                    #eef0f4 100%
                );
            }
        }

        &__video {
            object-fit: cover;
            z-index: 2;
            position: absolute;
            top: 0;
            left: 450px;
            width: 100%;
            height: 100%;
            @include media('tablet') {
                left: 200px;
            }

            @include media('mobile') {
                left: 0;
            }
        }

        &__time {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-bottom: 48px;

            @include media('mobile') {
                margin-bottom: 20px;
                gap: 8px;
            }

            div {
                @include media('mobile') {
                    display: flex;
                    flex-direction: column;
                    gpa: 8px;
                }
            }

            span {
                font: 400 24px / 100% var(--ff-base);
                letter-spacing: -1px;
                @include media('mobile') {
                    font-size: 20px;
                }
            }

            svg {
                display: inline-flex;
                flex-shrink: 0;
                width: 24px;
                height: 24px;
            }
        }

        &__title {
            max-width: 1029px;
            margin-bottom: 88px;

            @include media('mobile') {
                margin-bottom: 29px;
            }
        }

        &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 48px;

            @include media('tablet') {
                flex-direction: column;
                gap: 24px;
                align-items: flex-start;
            }
        }

        &__button {
            font: 500 18px / 100% var(--ff-base);
            text-transform: uppercase;
            padding: 30px 24px;
            border-radius: 8px;
            background: var(--accent-color);

            &::before {
                height: 94px;
                @include media('mobile') {
                    height: 73px;
                    width: 101%;
                    border-radius: 11px;
                }
            }

            @include media('mobile') {
                padding: 24px 5px;
                font-size: 16px;
                width: 100%;
                justify-content: center;
            }
        }

        &__deco {
            flex: 1;
            display: flex;
            align-items: center;

            @include media('tablet') {
                display: none;
            }

            span {
                display: inline-flex;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: var(--accent-color);
            }

            &::before {
                content: '';
                width: 100%;
                height: 1px;
                background: var(--dark-grey);
            }
        }

        &__description {
            font: 400 24px / 120% var(--ff-base);
            letter-spacing: -1px;
            max-width: 373px;
            span {
                font-weight: 500;
            }

            @include media('tablet') {
                max-width: 100%;
                font-size: 21px;
            }
        }
    }
}
