@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .location {
        margin-bottom: var(--section-mb);

        @include media('tablet') {
            padding-top: 80px;
        }

        &__content {
            display: flex;
            align-items: stretch;
            gap: 20px;
            justify-content: space-between;

            @include media('mobile') {
                flex-direction: column;
                gap: 40px;
            }
        }

        &__title {
            max-width: 914px;
            margin-bottom: 40px;
            @include media('mobile') {
                margin-bottom: 16px;
            }
        }

        &__description {
            font: 400 20px / 140% var(--ff-base);
            letter-spacing: -1px;
            @include media('mobile') {
                font-size: 18px;
            }
        }

        &__info {
            max-width: 766px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            @include media('mobile') {
                gap: 40px;
            }
        }

        &__map {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            &-link {
                background: var(--white);

                @include media('mobile') {
                    padding: 7px 11px 7px 19px;
                    font-size: 16px;

                    .link-plus__ico {
                        width: 26px;
                        height: 26px;

                        span {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }

            &-box {
                max-width: 566px;
                padding: 20px;
                position: relative;
                border-radius: 24px;
                background: var(--white);

                @include media('mobile') {
                    padding: 12px;
                    height: 504px;
                }

                & > img {
                    border-radius: 16px;

                    @include media('mobile') {
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                @include media('mobile') {
                    max-width: 100%;
                    width: 100%;
                }
            }

            &-ico {
                max-width: 134px;

                @include media('tablet') {
                    display: none;
                }

                lottie-player {
                    width: 100%;
                }
            }

            &-panel {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                img {
                    display: flex;
                    flex-shrink: 0;
                    width: 38px;
                    height: 38px;
                }
            }
        }

        &__pic {
            width: 100%;
            max-width: 766px;
            height: 712px;
            overflow: hidden;
            border-radius: 24px;

            @include media('mobile') {
                height: 316px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
