@use '../../base/media' as *;
@use '../../base/mixins' as *;

body:has(.main--article) {
    background: #fff;
}

.main--article {
    .content {
        margin-bottom: var(--section-mb);

        h2 {
            font: 400 32px / 100% var(--ff-base);
            letter-spacing: -1px;
            margin: 0 0 24px 0;
            color: #000;

            @include media('tablet') {
                font-size: 28px;
            }
            @include media('mobile') {
                font-size: 24px;
            }
        }

        ol {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 0 0 0 30px;
            margin: 0 0 60px 0;
            color: #000;

            @include media('mobile') {
                margin: 0 0 24px 0;
                padding: 0 0 0 20px;
            }

            li::marker {
                font-weight: bold;
            }

            a {
                text-decoration: underline;
            }
        }

        p {
            font: 400 20px / 140% var(--ff-base);
            letter-spacing: -1px;
            color: #000;

            @include media('mobile') {
                font-size: 18px;
            }
        }

        img {
            width: 100%;
            border-radius: 16px;
            margin-bottom: 60px;

            @include media('mobile') {
                margin-bottom: 24px;
            }
        }

        blockquote {
            padding-block: 48px;
            margin: 0 0 60px 0;
            border-top: 1px solid #30c9e8;
            border-bottom: 1px solid #30c9e8;
            color: #000;

            @include media('mobile') {
                padding-block: 18px;
                margin: 0 0 24px 0;
            }

            p {
                font: 400 40px / 100% var(--ff-base);
                letter-spacing: -1px;
                gap: 60px;
                align-items: flex-start;
                display: flex;

                @include media('tablet') {
                    font-size: 38px;
                }
                @include media('mobile') {
                    font-size: 28px;
                    gap: 24px;
                }

                &::before {
                    content: '';
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 92px;
                    height: 60px;
                    background: url('../images/icons/ico-quote-clrd.svg')
                        no-repeat center center / cover;

                    @include media('mobile') {
                        width: 50px;
                        height: 30px;
                    }
                }
            }
        }

        .video-block {
            margin-bottom: 60px;
            width: 100%;
            height: 618px;
            border-radius: 16px;
            overflow: hidden;
            position: relative;

            @include media('mobile') {
                height: 450px;
                margin-bottom: 24px;
            }

            &.is-playing {
                &::after {
                    opacity: 0;
                    visibility: hidden;
                }

                .play-video {
                    opacity: 0;
                    transform: translate(-50%, -60%);
                }
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background: linear-gradient(
                    180deg,
                    rgba(41, 37, 23, 0) 0%,
                    rgba(41, 37, 23, 0.7) 100%
                );
                @include transitions(0.5s, ease-in-out);
            }

            .play-video {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                width: 96px;
                height: 96px;
                border-radius: 50%;
                border: 1px solid var(--accent-color);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                overflow: hidden;
                @include transitions(0.5s, ease-in-out);

                @include hover {
                    svg {
                        &:first-child {
                            left: 50%;
                        }
                        &:last-child {
                            left: 120px;
                        }
                    }
                }

                svg {
                    display: inline-flex;
                    flex-shrink: 0;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include transitions(0.5s, ease-in-out);
                    color: var(--white);

                    &:first-child {
                        left: -20px;
                    }

                    @include media('mobile') {
                        width: 25px;
                        height: 25px;
                        margin-left: 2px;
                    }
                }

                @include media('mobile') {
                    width: 64px;
                    height: 64px;
                }
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
