@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--article {
    .intro {
        padding-top: 128px;
        margin-bottom: 24px;

        @include media('mobile') {
            padding-top: 80px;
        }

        & > .container {
            max-width: 1716px;
        }

        &__pic {
            position: relative;
            border-radius: 80px;
            overflow: hidden;
            height: 571px;

            @include media('mobile') {
                height: 450px;
                border-radius: 40px;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    180deg,
                    rgba(36, 44, 51, 0) 0%,
                    rgba(36, 44, 51, 0.7) 70.3%,
                    rgba(36, 44, 51, 0.9) 100%
                );
            }

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .container {
                position: absolute;
                bottom: 56px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                display: flex;
                flex-direction: column;
                gap: 24px;
                color: var(--white);

                @include media('mobile') {
                    bottom: 32px;
                    gap: 12px;
                }
            }
        }

        &__date {
            font: 400 16px / 100% var(--ff-base);
            letter-spacing: -1px;
        }
    }
}
